<form action="{% url 'feed:create_comment' post.id %}" method="POST" class="comment-form">
    {% csrf_token %}
    <div class="form-row">
      <textarea name="content" placeholder="Write your comment..." required></textarea>
    </div>
    <div class="form-row">
      <button type="submit" class="btn btn-comment">Post Comment</button>
    </div>
  </form>

  {% for comment in post.comments.all %}
          <div class="comment">
            <div class="comment-author">
              <a href="{% url 'profile:detail' slug=comment.user.username %}">
                {% if comment.user.profile.profile_picture %}
                  <img src="{{ comment.user.profile.profile_picture.url }}" alt="Profile Picture">
                {% else %}
                  {% if comment.user.profile.gender == 'F' %}
                    <img src="{% static 'images/avatar-female.png' %}" alt="Default Profile Picture">
                  {% else %}
                    <img src="{% static 'images/avatar-male.png' %}" alt="Default Profile Picture">
                  {% endif %}
                {% endif %}
                <p>{{ comment.user.username }}</p>
              </a>
            </div>
            <div class="comment-content">
              <p>{{ comment.content }}</p>
            </div>
          </div>
        {% empty %}
          <p>No comments yet.</p>
        {% endfor %}